{% extends "layout.html" %}

{% block title %}
    فريق العمل
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://ih1.redbubble.net/image.4760891245.5065/raf,360x360,075,t,fafafa:ca443f4786.jpg" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>فريق العمل</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
نتمني ان تكونوا قد استمتعتم معنا بهذه التجربة
<br>
        لا ننسي كل من شارك ولو بشئ بسيط في ذلك العمل وهما طلبه سليذرين
        <br>
Astro D. Zoldyck
<br>
Bellatrix Diggory
<br>
Draco Diggory
<br>
Evan Blackbeak
<br>
Federico Blakfyre
<br>
George Riddle
<br>
Roula E. Tounks
<br>
Rana M. Abrams
<br>
Ravenna Smith
<br>
Salazar L. Flamel
<br>
Tom ui Riddle
<br>
Wezza
  </p>
</div>

  <a style="margin: 20px 20px 20px 20px;" href="/" type="button" class="btn btn-secondary">للرجوع لبداية القصة</a>

{% endblock %}