{% extends "layout.html" %}

{% block title %}
    المواجهة
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://ih1.redbubble.net/image.4760891245.5065/raf,360x360,075,t,fafafa:ca443f4786.jpg" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>المواجهة</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        الساحر" بعد ليلةٍ طويلةٍ ومُتعبةٍ داخل الغابة قررتُ الرجوع إلى كوخي؛ لأخذ قسطًا من الراحةِ، وفور دخولي وجدتُ شابًا طويلًا متوسطَ البِنْيَةِ، ذا ملامح حادة يرتدي الزيّ المدرسي الرسمي، ويشير بعصاه تجاهي.
<br>
 بادرتُ بسؤالِه: من أنت؟ وما الذي جاء بك إلى هنا؟
 <br>
-فرانك- أجابني قائلًا: ما هذا المكان؟ وماذا تفعل انت هنا؟
<br>
-فرانك- صمتُّ قليلًا وقبل أن أردَ سألني مرةً أخرى: هذا السائلُ الفِضيُّ اللَزِج على عباءتك، ما هو؟
<br>
-الساحر- أثناء حديثُه أخرجت عصاي وقمتُ بتلويحها  لمعرفة من هو وماذا يريد مني قائلًا: ليجيليمانت.
<br>
-فرانك-: بروتيجو.
<br>
بدأتْ المشاهد بطالبٍ في مدرسة "هووجورتس" أمام رئيس منزله، وهو يُوبِخُه ويُحذرُه إن كرر هذا الفعل سيُطرد من المدرسة.

و في مشهدٍ آخر يبدأ الطالب بجمعِ حقائبِه ويخرج من باب المدرسة، من ثم ننتقل إلى مشهد آخر وهو أمام الغابة المحرمة، وفي عينيه نظرةٍ تدل على الانتقام.

ثم نجده مع مجموعة غريبة أطوار، مرتدين تلك العباءات الطويلة بينما يلتفون حوله بشكلٍ غريب،
وفي النهاية نجد أنه أمام جثةِ وحيد القرن بينما تسيل دمائه على الأرض.

وفي هذه الثانية يستطيع الساحر أن يفلت من الطالب عن طريق "الأوكلومنسي"
وعندما كان الطالب يتحكم في ذكريات الساحر كانت البومة قد أوصلتْ الخطاب لمدير المدرسة، حضر المدير بعد ذلك وتم إلقاء القبض على هذا الساحر، وتمت معاقبة الطالب لأنه خالف قانون المدرسة بالخروجِ إلى الغابةِ المحرمة.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158769157735719003/77e8ecb78126785a.mp3?ex=651d7360&is=651c21e0&hm=3c4dd5e6de6013f96615f71448010fdbbca545c69a7b469d966b5ee34a34d912&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/end" type="button" class="btn btn-secondary">النهاية</a>

{% endblock %}