{% extends "layout.html" %}

{% block title %}
    المواجهة
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://ih1.redbubble.net/image.4760891245.5065/raf,360x360,075,t,fafafa:ca443f4786.jpg" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>المواجهة</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        -فرانك- أثناء وجودي بالداخل سمعت صوتًا بالقربِ منّي يتقدم إلى الكوخ، فقررت سريعًا أن أهرب، فماذا قد يحدث لي والمدير آتٍ بأي حال!

أسرعت بالاختباء تحت السرير، دخل ساحرٌ إلى الكوخ و الذي قد تبيّن أنه مالكه.
<br>
الساحر: هناك آثار أقدام تعود لشخص، من بالداخل؟
<br>
-فرانك- ظل يبحث الساحر وقد تملّكني بعض من التوتر، فجأة! رفع الغطاء فوجدني أمامه، استخدم بعد ذلك عصاه وألقى عليّ تعويذة "ليجيلمانت" ما جعلني أبدأ في المقابل باستخدام "الأوكلومنسي" وإخضاعه بمشاهدٍ كاذبة.
<br>
يبدأ المشهد داخل قاعة الوصفات، يظهر  بروفيسور "يوسي" وهو يوبخ أحد الطلاب؛ بسبب استهتاره في مادته ورسوبه في الامتحان، وينظر  الجميع بإزرداء للطالب.
<br>
 ينتقل المشهد من درس الوصفات إلى دخول الطالب ذاته إلى الغابة مع حيوانه السحري، بينما يسير تجاه الغابة، ثم مشهد دخوله الكوخ.
 <br>
الساحر: هل أنت ذلك الطالب؟
<br>
الطالب فرانك: نعم
<br>
الساحر: ماذا جاء بك إلى هنا؟
<br>
الطالب فرانك: شعرتُ بالملل؛ فقررت أن استكشف الغابة المحرمة، ووجدت هذا الكوخ، هذا فقط.
<br>
الساحر: لم يكن عليك أن تتجول في الغابة المحرّمة، هي محرّمة لسبب! عمومًا سأتركك تعود إلى مدرستك بسلام؛ لكن بشرط ألا تُخبر أي أحد بأنك قابلتني.
<br>
الطالب فرانك : أشكرك، سيدي.
<br>
-فرانك- التفت الساحر؛ كي يخرج من الكوخ، في تلك اللحظة رفع الطالب عصاه؛ ليجرد الآخر من عصاه، التفت الساحر للخلف، تدارك  الأمر سريعًا،
وبتعويذة الموت غادرت روح الطالب جسده.
<br>
 في تلك اللحظة كان البروفيسور "لينيمر ستار" قد استجاب لنداء الطالب، دخل الكوخ ولكن بعد فوات الأوان، ولسوء حظ الساحر أنه لم يكن لديه وقت للهروب؛ فقد عثر عليه السيد "ستار" الذي بحث عنه كثيرًا في الماضي وألقى القبض عليه.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158829523958251601/6faa3dea3332d7cd.mp3?ex=651dab98&is=651c5a18&hm=2f0b9a35d548705a9916e56bfb1436e2e82d211fd5467ce4420759fa48619ed1&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/end" type="button" class="btn btn-secondary">النهاية</a>

{% endblock %}