{% extends "layout.html" %}

{% block title %}
    تسلل
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://cdn.discordapp.com/attachments/1075008945451704320/1158830300613333113/PhotoReal_rainy_hogwarts_castle_2.jpg?ex=651dac51&is=651c5ad1&hm=92e71664e8d3d993dbdbcdb57a1c3cbd7a1e4c85d14aa35eb289f7195eee31c6&" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>تسلل</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        مساء ليلة أمس بعد أن أنهيت الدرس الخاص بالوحوش السحرية، كنت أشعر بالملل؛ فذهبت إلى النوم، لكني استيقظت عند منتصف الليل؛ بسبب ضوضاء "ماكس" بومتي، ولم أستطع إكمال نومي مرة أخرى، استغرقت في تفكيري عن تلك الوحوش التي تحدث عنها البروفيسور اليوم، ذلك قررت التعمق داخل الغابة المحرمة انا و"ماكس" البومة، أثناء نوم الجميع.
        بدأت بالتحرك بين الأشجار العالية التي تحوم حولها الخفافيش، وكان هناك أصوات مخيفة تحيط بالمكان بأكمله، والتي أثارت فيّ شيئًا من الرهبة، ولكن بسبب تصاعد فضولي؛  قررت التعمق اكثر، وأثناء سيري سمعت صوتًا غريبًا قادمًا من بعيدٍ.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158720680230129745/cec27dc0cdbf9ed8.mp3?ex=651d463a&is=651bf4ba&hm=67901bfe3e1b573de50f618d13c6b750fef2fe90e5f68c0c02d5f9a54fd7244d&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/option1" type="button" class="btn btn-secondary">اتجه إلي الصوت</a>
  <a style="margin: 20px 20px 20px 20px;" href="/option2" type="button" class="btn btn-secondary">اكمل سيري</a>

{% endblock %}