{% extends "layout.html" %}

{% block title %}
    اكمل سيري
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://cdn.discordapp.com/attachments/1075008945451704320/1158831915919482880/PhotoReal_Dark_forest_with_slytherin_student_walking_into_this_0.png?ex=651dadd2&is=651c5c52&hm=a63d39644be5bf82f590bb185bc9d9ecd0eb8f9fa47c1f645c86ae7eb97b8130&" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>اكمل سيري</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        لم أهتم بهذا الصوت، وقررت أن أكمل سيْري وأن أتعمق أكثر داخل الغابة، بعد السير لفترة وجدتُ وحشَ القنطورِ الذي قرر أن يهجم عليّ؛ فبدأت بإلقاء بعض التعاويذ عليه، لكن جميعها لم تصبْه، لذا بدأت في الركض بعيدًا، ثم وجدتُ كوخًا؛ فقررتُ ان ألجأ إليه.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158734079768936480/35c4f18b854c8270.mp3?ex=651d52b4&is=651c0134&hm=c7d432022a3aa64cc205f9235055feb70bde4ca38de1e210f1c76686ad4d7f46&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/theclue" type="button" class="btn btn-secondary">ادخل الكوخ</a>

{% endblock %}