{% extends "layout.html" %}

{% block title %}
    اتجه إلي الصوت
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://cdn.discordapp.com/attachments/1075008945451704320/1158839528937758740/97f5ac6c93138f4d.jpg?ex=651db4e9&is=651c6369&hm=54f34bb1b396f2cc72bfdd2cab0573d39458c9c8b2315e7b1f64999b3266bdad&" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>اتجه إلي الصوت</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        ذهبتُ ناحية الصوت، وفور وصولي وجدتُ جثةَ وحيدَ قرنٍ غارقًا في دمائه فِضية اللون، يا لهذه الجريمة البشعة! من يمكنه ان يفعل هذا! أخرجت عصاي بسرعة، وأخذتُ أتلفت حوْلي في خوفٍ، ثم بدأت في التحرك ببطيءٍ، أكملتُ سيري ووجدتُ كوخًا غريبَ الشكلِ والهيئةِ.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158723051559604304/f7ee6ca82908ff4f.mp3?ex=651d486f&is=651bf6ef&hm=f2ad8d41ed06b74314db29a8717886822e6c91f5b2acbf05ba18a173b9d59270&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/theclue" type="button" class="btn btn-secondary">ادخل الكوخ</a>
  <a style="margin: 20px 20px 20px 20px;" href="/option3" type="button" class="btn btn-secondary">اكمل السير</a>

{% endblock %}