{% extends "layout.html" %}

{% block title %}
    اكمل السير
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://cdn.discordapp.com/attachments/1075008945451704320/1158831915919482880/PhotoReal_Dark_forest_with_slytherin_student_walking_into_this_0.png?ex=651dadd2&is=651c5c52&hm=a63d39644be5bf82f590bb185bc9d9ecd0eb8f9fa47c1f645c86ae7eb97b8130&" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>اكمل السير</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        تجاهلتُ هذا الكوخ؛ لأني شعرتُ بالخوف من شكله وهيئتِه الغريبة، أكملتُ سيْري لعلّي أجد شيئًا جديدًا، بعد فترة قصيرة وجدتُ وحشَ القنطورِ، حاولتُ أن أُلقِ عليه بعض التعاويذ، لكني لم أستطع إصابته، لذا قررتُ أن أهرب إلى الكوخ مرةً أخرى.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158748073967767592/8d8089d1bf6c3fed.mp3?ex=651d5fbd&is=651c0e3d&hm=020d8fd631148fd19b5d82e7b0f2afb0eb974a3ae548828733393f2220607a7b&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/theclue" type="button" class="btn btn-secondary">ادخل الكوخ</a>

{% endblock %}