{% extends "layout.html" %}

{% block title %}
    داخل الكوخ
{% endblock %}
{% block main %}
<div class="mb-3">
    <img style="width:20%" src="https://cdn.discordapp.com/attachments/1075008945451704320/1158854250290495578/211879429-fireplace-with-a-fire-inside-in-a-cozy-house-generative-ai.jpg?ex=651dc29f&is=651c711f&hm=b82f0115d3eaa5f104381f4ee74a262352e33d0bf33e026430200dae98b8d689&" style="margin-bottom: 1em; width: 30%" class="img-fluid" alt="...">
</div>
<h1>داخل الكوخ</h1>
<div class="d-flex justify-content-center">

    <p style="width:50%" >
        في الداخل وجدت هذه المدفأة التي من الواضح أنها أُخْمِدَتْ من وقتٍ ليس ببعيدٍ، وأمامها منضدة عليها بعض الاوراق المبعثرة، وبعض الأدوات والعلامات الغريبة، فأسرعتُ وقمتُ بكتابةِ رسالة مع بومتي إلى المدير، اقتربتُ منها بينما أنا أتفحص هذه الأوراق، سمعتُ صوتَ طقطقةَ الخشبِ التي تنذر عن دخول أحدهم للكوخ.
    </p>
</div>
<figure>
    <figcaption>للاستماع</figcaption>
    <audio controls src="https://cdn.discordapp.com/attachments/1075008945451704320/1158727675238678538/91a08f7d5defc0fd.mp3?ex=651d4cbd&is=651bfb3d&hm=be6d3dc1bc3bdadd7b727f29415e7aeffdf97a8f6a97adb169c0203051df9340&">
    </audio>
  </figure>
  <a style="margin: 20px 20px 20px 20px;" href="/theclue" type="button" class="btn btn-secondary">الاختباء</a>
  <a style="margin: 20px 20px 20px 20px;" href="/face" type="button" class="btn btn-secondary">المواجهة</a>

{% endblock %}